<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ko</string>
	</array>
	<key>NSLocationUsageDescription</key>
	<string>현재 위치의 5일간 대기질 예보를 제공하기 위해 위치 정보를 사용합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치의 5일간 대기질 예보를 제공하기 위해 위치 정보를 사용합니다.</string>
</dict>
</plist>
